.app {
  max-width: 100%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: flex;
  flex-direction: column;
}


.pokeGrid{
  font-family: Rubik, sans-serif;
  display: grid;
  grid-column-gap: 6%;
  grid-row-gap: 5em;
  grid-template-columns: auto auto;
  padding: 1%;
  margin-left: 8.25%;
  margin-top: 5%;
  padding-bottom: 7%;
}
.pokeCell{
  background-color: white;
  border-radius: 3em;
  border: 0.5em solid  #20B2AA;
  height: 35%;
  width: 75%;
  font-size: 5%;
  text-transform: uppercase;
  display:table;
  transition: all linear 0.5s;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.06); /* IE 9 */
  -webkit-transform: scale(1.06); /* Safari 3-8 */
  transform: scale(1.06); 
  box-shadow: 0 4px 8px 0 rgba(46, 44, 44, 0.2), 0 6px 20px 0 rgba(49, 48, 48, 0.19);
}

.poke-name{
  text-align: center;
  letter-spacing: 0.2em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 25em;
  color: white;
  background-color: #20B2AA;
  width: 100%;
  font-family: Karla, sans-serif;
  border-radius: 0.5em;
}

.poke-photo{
  margin: 5%;
}

.poke-cell-content{
  display: flex;
}

.poke-info{
  font-size: 18em;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-top: 10%;
  margin-left: 14%;
  margin-right: 6%;
  margin-bottom: 10%;
  color: rgb(75, 83, 82);
}

.poke-info div{
  padding-bottom: 0.5em;
}

.header {
  overflow: hidden;
  background-color: #C14646;
  padding: 1.5% 2%;
  font-size: 3em;
  font-weight: bolder;
  color: white;
  font-family: Arvo, sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
  
}

.footer > p{
  margin-left: 2%;
  text-decoration: none;
}

.footer{
  background-color: rgb(219, 212, 212);
  height: 2%;
  padding-top: 0.1%;
  text-align: center;
}



