.app {
  max-width: 100%;
  max-height: 100%;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #efefef;
  bottom: 0;
  width: 100%;
  text-align: center;
  bottom:0;
}

.footer a{
  text-decoration: none;
}


.header{
  background-color: #419EAE;
  color: white;
  font-size: 210%;
  font-weight: bold;
  font-family: Abel, sans-serif;
  letter-spacing: 0.1em;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1%;
}

.poke-grid {
  font-family: Oswald, sans-serif;
  display: grid;
  grid-column-gap: 0.1%;
  grid-row-gap: 2.7em;
  grid-template-columns: auto auto auto;
  padding: 4%;
  margin-bottom: 2%;
  margin-top: 7%;
  margin-left: 6%;
}

.poke-cell {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.8em;
  border: 3px solid rgb(138, 189, 180);
  height: 50%;
  width: 80%;
  text-align: center;
  text-transform: uppercase;
  display:table;
  transition: all linear 0.5s;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;

}

.poke-name{
  letter-spacing: 0.2em;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 100%;
  color: white;
  background-color: rgb(138, 189, 180);
  width: 100.2%;
  border-radius: 0.2em;
}


.poke-photo{
  padding-top: 1%;
  align-self: center;

}

.poke-number{
  font-size: 0.6em;
  padding-bottom: 2%;
  font-family: Oswald, sans-serif;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: rgb(65, 61, 61);
}

.poke-type{
  color: rgb(65, 61, 61);
  font-size: 0.9em;
  padding-bottom: 3%;
  font-family: Oswald, sans-serif;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  -ms-transform: scale(1.06); /* IE 9 */
  -webkit-transform: scale(1.06); /* Safari 3-8 */
  transform: scale(1.06); 
  box-shadow: 0 4px 8px 0 rgba(46, 44, 44, 0.2), 0 6px 20px 0 rgba(49, 48, 48, 0.19);
}

#search{
  margin-top: 90px;
  margin-left: 30%;
}

#search input{
  width: 60%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://66.media.tumblr.com/97e194ba74257cad03d826bbae846491/tumblr_inline_p9rst2e1Wr1so0coz_75sq.png');
  background-position: 8px 12px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.search-bar{
  margin-top: 7%;
}


